<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApiExamenDll.Properties.Settings.cnn" connectionString="Data Source=GTE-SICREA\SQLEXPRESS;Initial Catalog=Bdiexamen;User ID=sa;Password=hola;Application Name=Examen" />
    </connectionStrings>
</configuration>