<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
		<add name="conexionBD"
   connectionString="Data Source=GTE-SICREA\SQLEXPRESS;Initial Catalog=Bdiexamen;User ID=sa;Password=hola;Application Name=Examen"/>
	</connectionStrings>
</configuration>